<!DOCTYPE html>
{% load static %}

<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="{% static 'main/css/destyle.css'%}">
        <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
        <link rel="icon" href="{% static 'main/images/logo/favicon.png' %}"> 

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Shippori+Mincho:wght@400;500;600;700;800&display=swap" rel="stylesheet">        
        {% block head %}{% endblock %}

    </head>

    <body id="mask">
        <header class="header">

            <nav class="header__nav">
                <a class="header__nav_link" href="{% url 'home' %}" >Home</a>
                <a class="header__nav_link" href="{% url 'home' %}" >Circles</a>
                <a class="header__nav_link" href="{% url 'home' %}" >Map</a>
                <a class="header__nav_link" href="{% url 'home' %}" >Timetable</a>
                <!-- <a class="header__nav_link" href="{% url 'home' %}" >News</a> -->
                <a class="header__nav_link" href="{% url 'home' %}" >音楽会</a>
            </nav>
            

        </header>


        <main>
            {% block contents %}{% endblock %}
        </main>
        


        <footer class="footer">

            <div class="footer__logo">
                <img class="footer__logo_img" src="{% static 'main/images/logo/footer.png' %}" >
                <p class="footer__logo_title">78TH KOYO ONTEN 2025</p>
            </div>

            <div class="footer__link">

                <div class="footer__link__box">
                    <p class="footer__link__box_txt">音楽と展覧の会</p>

                    <a href="https://x.com/koyo_onten" target="_blank" rel="noopener noreferrer" ><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="https://www.instagram.com/koyo_onten" target="_blank" rel="noopener noreferrer" ><i class="fa-brands fa-instagram"></i></a>
                </div>

                <div class="footer__link__box">
                    <p class="footer__link__box_txt">PC同好会</p>

                    <a href="https://x.com/koyo_pc" target="_blank" rel="noopener noreferrer" ><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer" ><i class="fa-brands fa-instagram"></i></a>
                </div>

            </div>

        </footer>

        <script src="{% static 'main/javascript/base.js' %}"></script>
        <script src="https://kit.fontawesome.com/a8a91bec89.js" crossorigin="anonymous"></script>
        {% block extra_js %}{% endblock %}

    </body>
</html>