<!DOCTYPE html>
{% load static %}

<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>甲陽学院高等学校 音楽と展覧の会 「燦然」2025 {% block title %}{% endblock %}</title>
        <meta content="概要文を120文字程度" name="description">


        <meta name="description" content="甲陽学院高等学校の文化祭『音楽と展覧の会 燦然 2025』公式サイト。企画紹介、校内マップ、タイムテーブル、最新情報をお届けします。">

        <meta name="keywords" content="甲陽学院,文化祭,音展,燦然,2025,甲陽,文化祭,兵庫,西宮,高校">

        <meta property="og:title" content="甲陽学院高等学校 音楽と展覧の会『燦然』2025">
        <meta property="og:description" content="甲陽学院高等学校の文化祭『燦然 2025』公式サイト。企画紹介・マップはこちら！">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://koyo-onten.net/">
        <meta property="og:image" content="{% static 'main/images/logo/ogp.png' %}">
        <meta property="og:site_name" content="甲陽学院 音展 2025">

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="甲陽学院 音展 2025『燦然』">
        <meta name="twitter:description" content="甲陽学院高等学校の文化祭『燦然 2025』公式サイト。企画・タイムテーブル・マップなどを紹介。">
        <meta name="twitter:image" content="{% static 'main/images/logo/ogp.png' %}">

        <meta name="robots" content="index, follow">
        <link rel="canonical" href="https://koyo-onten.net/">

        <link rel="stylesheet" href="{% static 'main/css/destyle.css'%}">
        <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
        <link rel="icon" href="{% static 'main/images/logo/favicon.png' %}"> 

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Shippori+Mincho:wght@400;500;600;700;800&display=swap" rel="stylesheet">        
        {% block head %}{% endblock %}

    </head>

    <body id="mask">
        <header class="header">
            <!-- <img class="header_img" src="{% static 'main/images/logo/onten-logo.png' %}"> -->
            <nav class="header__nav">
                <a class="header__nav_link" href="{% url 'home' %}" >Home</a>
                <a class="header__nav_link" href="{% url 'circles' %}" >Circles</a>
                <a class="header__nav_link" href="{% url 'map' %}" >Map</a>
                <a class="header__nav_link" href="{% url 'timetable' %}" >Timetable</a>
                <a class="header__nav_link" href="{% url 'circles_detail' 3 %}" >Concert</a>
            </nav>
            

        </header>


        <main>
            {% block contents %}{% endblock %}
        </main>
        


        <footer class="footer">

            <div class="footer__logo">
                <img class="footer__logo_img" src="{% static 'main/images/logo/footer.png' %}" >
                <p class="footer__logo_title">78TH KOYO ONTEN 2025</p>
            </div>

            <div class="footer__link">

                <div class="footer__link__box">
                    <p class="footer__link__box_txt">音楽と展覧の会</p>

                    <a href="https://x.com/koyo_onten" target="_blank" rel="noopener noreferrer" ><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="https://www.instagram.com/koyo_onten" target="_blank" rel="noopener noreferrer" ><i class="fa-brands fa-instagram"></i></a>
                </div>

                <div class="footer__link__box">
                    <p class="footer__link__box_txt">PC同好会</p>

                    <a href="https://x.com/koyo_pc" target="_blank" rel="noopener noreferrer" ><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="https://www.instagram.com/koyo_pclovers" target="_blank" rel="noopener noreferrer" ><i class="fa-brands fa-instagram"></i></a>
                </div>

            </div>

        </footer>

        <script src="{% static 'main/javascript/base.js' %}"></script>
        <script src="https://kit.fontawesome.com/a8a91bec89.js" crossorigin="anonymous"></script>
        {% block extra_js %}{% endblock %}

    </body>
</html>