{% extends "main/base.html" %}      
{% load static %}

{% block title %}
第78回 音楽と展覧の会 「燦然」 2025年度 甲陽学院高等学校 
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'main/css/index.css' %}">
{% endblock %}

{% block contents %}
    
<h1>第78回<br>甲陽学院高等学校<br>音楽と展覧の会</h1>

<div class="onten">
    <div class="onten_logo">
        
        <div id="lottie"></div>
        <!-- <div class="mask"></div> -->
    </div>
    <div class="onten__datetime">
        <p class="onten__datetime_title">燦然</p>
        <p class="onten__datetime_day">9.23 Fri</p>
    </div>
</div>



<div class="countdown">
    <h5 class="countdown_cd">CountDown</h5>
    <div class="countdown__dhms">
        <div class="circle day-circle" id="circle-day">
            <span class="day">0</span>
            <small>Days</small>
        </div>
        <div class="circle hour-circle" id="circle-hour">
            <span class="hour">0</span>
            <small>Hours</small>
        </div>
        <div class="circle min-circle" id="circle-min">
            <span class="min">0</span>
            <small>Minutes</small>
        </div>
        <div class="circle sec-circle" id="circle-sec">
            <span class="sec">0</span>
            <small>Seconds</small>
        </div>
    </div>
</div>

<h5>音展委員</h5>
<div class="member">

    <div class="member__name">
        <p>委員長</p>
        <p>副委員長</p>
        <div class="member-space"></div>
        <p>音楽会</p>
        <div class="member-space"></div>
        <p>内規</p>
        <p>予算・会計</p>
        <p>備品管理</p>
        <p>黒本</p>
        <p>印刷</p>
        <p>パンフレット</p>
        <p>受付</p>
        <p>金券</p>
        <p>広報</p>
        <div class="member-space"></div>
        <p>運動場企画</p>
        <p>中央ステージ</p>
        <p>縁日</p>
        <p>クイズ</p>
        <p>テーブルゲーム</p>
        <p>PR動画</p>
        <p>スタンプラリー</p>
        <p>占い</p>
        <p>ジェットコースター</p>
        <p>喫茶</p>
        <p>屋台</p>
        <div class="member-space"></div>
        <p>校内装飾</p>
        <p>モニュメント</p>
        <p>案内</p>
        <div class="member-space"></div>
        <p>WEB制作</p>


    </div>

    <div class="member__person">
        <p>正木俊太</p>
        <p>木村凛　鵜川賢人　中村理人</p>
        <div class="member-space"></div>
        <p>花房大貴</p>
        <div class="member-space"></div>
        <p>福地誠之介</p>
        <p>中村理人</p>
        <p>上野聡太</p>
        <p>浦田泰成</p>
        <p>川本啓太</p>
        <p>武田健佑</p>
        <p>加柴平慈</p>
        <p>井村颯</p>
        <p>田中深森</p>
        <div class="member-space"></div>
        <p>城戸翼</p>
        <p>吉井聡明</p>
        <p>北井碧</p>
        <p>山名雄大</p>
        <p>越智俊介</p>
        <p>吉井聡明</p>
        <p>川島圭太郎</p>
        <p>太田煌士</p>
        <p>鵜川賢人</p>
        <p>入江森太郎</p>
        <p>菊川晃誠</p>
        <div class="member-space"></div>
        <p>木村凛</p>
        <p>村上祐太</p>
        <p>佐藤駿河</p>
        <div class="member-space"></div>
        <p>木村壮一郎　森田陽風</p>
        <p>森賀康祐　堀寛明</p>


    </div>

</div>

{% endblock %}


{% block extra_js %}
    <script src="{% static 'main/javascript/countdown.js' %}"></script>
    <script src="{% static 'main/javascript/animation.js' %}"></script>
    <script src="{% static 'main/javascript/animation2.js' %}"></script>


{% endblock %}


