{% extends "main/base.html" %}      
{% load static %}

{% block title %}
第78回 音楽と展覧の会 「燦然」 2025年度 甲陽学院高等学校 
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'main/css/index.css' %}">
{% endblock %}

{% block contents %}
    
<h1>第78回<br>甲陽学院高等学校<br>音楽と展覧の会</h1>

<div class="onten">
    <div class="onten_logo">
        
        <div id="lottie"></div>
        <!-- <div class="mask"></div> -->
    </div>
    <div class="onten__datetime">
        <p class="onten__datetime_title">燦然</p>
        <p class="onten__datetime_day">9.23 Fri</p>
    </div>
</div>



<div class="countdown">
    <h2 class="countdown_cd">CountDown</h2>
    <div class="countdown__dhms">
        <div class="circle day-circle" id="circle-day">
            <span class="day">0</span>
            <small>Days</small>
        </div>
        <div class="circle hour-circle" id="circle-hour">
            <span class="hour">0</span>
            <small>Hours</small>
        </div>
        <div class="circle min-circle" id="circle-min">
            <span class="min">0</span>
            <small>Minutes</small>
        </div>
        <div class="circle sec-circle" id="circle-sec">
            <span class="sec">0</span>
            <small>Seconds</small>
        </div>
    </div>
</div>

{% endblock %}


{% block extra_js %}
    <script src="{% static 'main/javascript/countdown.js' %}"></script>
    <script src="{% static 'main/javascript/animation.js' %}"></script>
    <script src="{% static 'main/javascript/animation2.js' %}"></script>


{% endblock %}


