{% extends "main/base.html" %}      
{% load static %}

{% block title %}
HOME 
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'main/css/index.css' %}">
{% endblock %}

{% block contents %}
    
<h1>第78回<br>甲陽学院高等学校<br>音楽と展覧の会</h1>

<div class="onten">
    <div class="onten_logo">
        
        <div id="lottie"></div>
        <!-- <div class="mask"></div> -->
    </div>
    <div class="onten__datetime">
        <p class="onten__datetime_title">燦然</p>
        <p class="onten__datetime_day">2025.9.23 Tue</p>
    </div>
</div>



<div class="countdown">
    <h5 class="countdown_cd">CountDown</h5>
    <div class="countdown__dhms">
        <div class="circle day-circle" id="circle-day">
            <span class="day">0</span>
            <small>Days</small>
        </div>
        <div class="circle hour-circle" id="circle-hour">
            <span class="hour">0</span>
            <small>Hours</small>
        </div>
        <div class="circle min-circle" id="circle-min">
            <span class="min">0</span>
            <small>Minutes</small>
        </div>
        <div class="circle sec-circle" id="circle-sec">
            <span class="sec">0</span>
            <small>Seconds</small>
        </div>
    </div>
</div>

<h5>音展委員</h5>
<div class="member">
<!-- 


        <p>木村凛</p>
        <p>村上祐太</p>
        <p>佐藤駿河</p>
        <div class="member-space"></div>
        <p>木村壮一郎　森田陽風</p>
        <p>森賀康祐　堀寛明</p>


    </div>  -->

    <table>
        <tbody>
            <tr><th>委員長</th><td>正木俊太</td></tr>
            <tr><th>副委員長</th><td>木村凛<br>鵜川賢人<br>中村理人</td></tr>
        </tbody>

        <tbody>
            <tr><th>音楽会</th><td>花房大貴</td></tr>
        </tbody>

        <tbody>
            <tr><th>内規</th><td>福地誠之介</td></tr>
            <tr><th>予算・会計</th><td>中村理人</td></tr>
            <tr><th>備品管理</th><td>上野聡太</td></tr>
            <tr><th>黒本</th><td>浦田泰成</td></tr>
            <tr><th>印刷</th><td>川本啓太</td></tr>
            <tr><th>パンフレット</th><td>武田健佑</td></tr>
            <tr><th>受付</th><td>加柴平慈</td></tr>
            <tr><th>金券</th><td>井村颯</td></tr>
            <tr><th>広報</th><td>田中深森</td></tr>
        </tbody>

        <tbody>
            <tr><th>運動場企画</th><td>城戸翼</td></tr>
            <tr><th>中央ステージ</th><td>吉井聡明</td></tr>
            <tr><th>縁日</th><td>北井碧</td></tr>
            <tr><th>クイズ</th><td>山名雄大</td></tr>
            <tr><th>テーブルゲーム</th><td>越智俊介</td></tr>
            <tr><th>PR動画</th><td>吉井聡明</td></tr>
            <tr><th>スタンプラリー</th><td>川島圭太郎</td></tr>
            <tr><th>占い</th><td>太田煌士</td></tr>
            <tr><th>ジェットコースター</th><td>鵜川賢人</td></tr>
            <tr><th>喫茶</th><td>入江森太郎</td></tr>
            <tr><th>屋台</th><td>菊川晃誠</td></tr>
            <tr><th></th><td></td></tr>
        </tbody>

        <tbody>
            <tr><th>校内装飾</th><td>木村凛</td></tr>
            <tr><th>モニュメント</th><td>村上祐太</td></tr>
            <tr><th>案内</th><td>佐藤駿河</td></tr>
        </tbody>

        <tbody>
            <tr><th>WEB制作</th><td>木村壮一郎<br>森田陽風<br>森賀康祐<br>堀寛明</td></tr>
        </tbody>

    </table>

</div>

{% endblock %}


{% block extra_js %}
    <script src="{% static 'main/javascript/countdown.js' %}"></script>
    <script src="{% static 'main/javascript/animation.js' %}"></script>
    <script src="{% static 'main/javascript/animation2.js' %}"></script>


{% endblock %}


